.form {
  background-color: #fadbd8;
  width: 80%;
  margin: 30px auto auto auto;
  font-size: 1.3rem;
  .form__titles {
    text-align: center;
    padding: 2%;
  }
  .form__personal {
    width: 90%;
    margin: auto;
  }
  .form__check {
    width: 90%;
    margin: 0 5% 0 5%;
  }
  .form__text-area {
    width: 90%;
    margin: 0 5% 0 5%;
  }
  .form__button {
    margin: 2% 2.5% 2% 5%;
    padding: 0.3%;
    background: linear-gradient(#45d627, #7bdb68);
    border-style: none;
  }
  .form__button--delete {
    margin: 2% 2.5% 2% 5%;
    padding: 0.3%;
    background: linear-gradient(#d62727, #db6868);
    border-style: none;
  }
}
