header {
  background-color: $color-verde;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  nav {
    background-image: linear-gradient($color-verde, $color-crema);
    padding: 1.5vh;
    margin-left: 0;
    width: 100%;
    position: relative;
    display: flex;
    .nav__logo-container {
      width: 100%;
      margin: 0 2.5% 0 2.5%;
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 991px) {
        justify-content: center;
      }
      .nav__logo {
        min-width: 75px;
        min-height: 75px;
        max-height: 150px;
        max-width: 150px;
        border-radius: 100%;
        &:hover {
          animation: heart;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }
        @keyframes heart {
          0% {
            transform: scale(1);
          }
          20% {
            transform: scale(1.3);
          }
          40% {
            transform: scale(1);
          }
          60% {
            transform: scale(1.3);
          }
          80% {
            transform: scale(1);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }

    .nav__burger {
      background-color: $color-verde;
      width: 30px;
      height: 30px;
      span {
        color: black;
        width: 100%;
        height: 100%;
      }
    }
    .nav__navbar {
      position: relative;
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      align-items: flex-end;
      .nav__collapse {
        margin: 0 2.5% 0 2.5%;
        .nav__list {
          position: relative;
          display: flex;
          justify-content: space-around;
          .nav__item {
            list-style: none;
            text-decoration: none;
            font: bold;
            color: black;
            margin: 0vw 1vw 0vw 1vw;
            padding-top: 0;
            padding-bottom: 0;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .nav__link {
              width: 100%;
              .nav__button {
                list-style: circle;
                color: black;
                position: relative;
                border-color: rgba(0, 0, 0, 0);
                background-image: linear-gradient($color-verde, $color-crema);
                padding: 2.5%;
                list-style: none;
                font-size: 1.8rem;
                color: black;
                text-decoration: none;
                width: 100%;
              }
              .nav__button--active {
                list-style: circle;
                color: black;
                position: relative;
                border: solid;
                border-color: pink;
                background-color: rgb(247, 228, 228);
                padding: calc(1vw + 1%);
                list-style: none;
                font-size: 1.8rem;
                color: black;
                text-decoration: none;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
